In [ ]:
%matplotlib inline

# Lecture 6: Queries and GroupBy

In [ ]:
import babypandas as bpd

# NBA Salaries

- The file `nba_salaries.csv` contains all salaries from 2015-2016 NBA season.

In [ ]:
salaries = bpd.read_csv('data/nba_salaries.csv').set_index('PLAYER')
salaries

# Selecting Rows

## Use Case: Who was the highest paid center (C)?

In [ ]:
salaries

## Selecting Rows

- We could do it if we had a table consisting only of centers.
- But how do we get that table?

## The Solution

In [ ]:
salaries[salaries.get('POSITION') == 'C']

In [ ]:
'PG' == 'C'

In [ ]:
'C' == 'C'

In [ ]:
salaries.get('POSITION') == 'C'

## Boolean Indexing

To select only some rows of `salaries`:

1. Make a list/array/Series of `True`s (keep) and `Falses` (toss)
2. Then pass it into `salaries[]`.

Rather than making the list by hand, we usually make comparisons.

## Elementwise comparisons 

|symbol|meaning|
|--------|--------|
|== |equal to |
|!= |not equal to |
|<|less than|
|<=|less than or equal to|
|>|greater than|
|>=|greater than or equal to|

In [ ]:
salaries.get('2015_SALARY') > 5

In [ ]:
#- make a table with only players who made more than 5 million

## Another example

In [ ]:
#- get only the Cleveland Cavaliers

## When the condition is not satisfied

In [ ]:
salaries[salaries.get('TEAM') == 'San Diego Surfers']

## Use Case: Who was the highest paid center?

1. Extract a table of centers
2. Sort by salary
3. Return first thing in index

In [ ]:
#- extract a table of centers
centers = ...
centers

In [ ]:
# find the highest paid center

## Multiple Conditions

- To do a query with multiple conditions, use `&` for "and" and `|` for "or".
- Must use parentheses around each query.
- Note: Don't use the Python keywords `and` and `or` here! They do not behave as you'd want.

In [ ]:
# find all the players who are guards (shooting guards, point guards)
salaries[(salaries.get('POSITION')=="PG")|(salaries.get('POSITION')=="SG")]

## The `&` and `|` operators work element-wise

In [ ]:
(salaries.get('POSITION')=="PG")

In [ ]:
(salaries.get('POSITION')=="SG")

In [ ]:
(salaries.get('POSITION')=="PG")|(salaries.get('POSITION')=="SG")

## Discussion Question

What was the total payroll of the Cleveland Cavaliers?

- a) `salaries.get('TEAM') == 'Cleveland Cavaliers'.get('2015_SALARY').sum()`
- b) `salaries[salaries.get('TEAM') == 'Cleveland Cavaliers'].get('2015_SALARY').sum()`
- c) `salaries.get('2015_SALARY').sum()[salaries.get('TEAM') == 'Cleveland Cavaliers']`
- d) `salaries['Cleveland Cavaliers'].get('2015_SALARY').sum()`

## Answer: b)

In [ ]:
cavs = salaries[salaries.get('TEAM') == 'Cleveland Cavaliers'] 
cavs

In [ ]:
#- use series method .sum()
cavs.get('2015_SALARY').sum()

# GroupBy

## Use Case: What team had the highest payroll?

- We can find the payroll for one team.
- But how can we find the payroll for *all* teams at once?
- Can we somehow group the rows of the table by team name?

In [ ]:
salaries

## `.groupby`

In [ ]:
salaries.groupby('TEAM').sum()

## `.groupby`

1. Use `.groupby(column_name)` to gather rows which have the same value in the column
2. Apply an *aggregation* function *within* each group

The aggregation is applied individually to each column.

Some aggregation functions: `.count()`, `.sum()`, `.mean()`, `.median()`, `.max()`, `.min()`

## Interesting thing # 1

- The index has changed to team names.
- In general, the new row labels are the *group labels* (the thing that is used to determine if two rows were in same group).

In [ ]:
salaries.groupby('TEAM').sum()

## Interesting thing #2

- The `POSITION` and `TEAM` columns have disappeared. Why?

In [ ]:
salaries.groupby('TEAM').sum()

## Disappearing columns

- The aggregation function is applied to each column.
- If it doesn't make sense to apply it to a particular column, that column will disappear.
- Example: can't sum strings, like in `POSITION` column.
- Surprising example: *can* `max()` strings. How?

In [ ]:
salaries.groupby('TEAM').max() #Can you guess how the max position is determined?

## Other Aggregation Functions

`.count()`, `.sum()`, `.mean()`, `.median()`, `.max()`, `.min()`

In [ ]:
salaries.groupby('TEAM').count()

In [ ]:
salaries.groupby('TEAM').mean()

In [ ]:
salaries.groupby('TEAM').max()

## Use Case: What team has the highest payroll?

1. Group by team.
2. Within each group, compute total salary.
3. Sort by salary, descending order.
4. Take the name of the first team.

In [ ]:
#- group, sum, sort, index

## Use Case: How many players play each position?

In [ ]:
each_position = ...
each_position

## Better column names?

To rename a column

1. Add a new column with `.assign`
2. Drop the old column(s) with `.drop(columns=list_of_column_labels)`

In [ ]:
counts = each_position.assign(COUNT=each_position.get('TEAM')) # SOLUTION
counts

In [ ]:
counts.drop(columns=['TEAM', '2015_SALARY'])

# IMDB

In [ ]:
imdb = bpd.read_csv('data/imdb.csv').set_index('Title')
imdb

## How many movies appear from each decade?

In [ ]:
imdb.groupby('Decade').count()

In [ ]:
imdb.groupby('Decade').count().plot(y='Year')

## Discussion Question: What was the highest rated movie of the 1990's?

How do we do this?

- a) Querying
- b) Grouping
- c) Either way can work

# Combining queries and groupby

### a.k.a, more challenging problems

## How many years have more than 3 movies rated above 8.5?

## Using `.sum()` on a boolean array

In [ ]:
(good_movies_per_year.get('Votes') > 3).sum()

## Out of the years with more than 3 movies, which had the highest average rating?

## Which year had the longest movie titles, on average?

In [ ]:
imdb.index.str.len()

## What is the average rating of movies from years that had at least 3 movies in the list?