# Homework 3: Functions and Visualizations

## Due Saturday, January 30th at 11:59pm PST

Welcome to Homework 3! This week, we will go over defining functions, making visualizations like histograms and line plots, and exploring data. You can find additional help on functions in [Section 2.6](https://eldridgejm.github.io/dive_into_data_science/02-data_sets/apply.html?highlight=function) and resources for creating visualizations in [Chapter 3](https://eldridgejm.github.io/dive_into_data_science/03-visualization/intro.html) of Dive into Data Science.

### Instructions

This assignment is due Saturday, January 30th at 11:59pm PST. You are given six slip days thoughout the quarter to extend deadlines. See the syllabus for more details. With the exception of using slip days, late work will not be accepted unless you have made special arrangements with your instructor.

**Important**: The `otter` tests don't usually tell you that your answer is correct. More often, they help catch careless mistakes. It's up to you to ensure that your answer is correct. If you're not sure, ask someone (not for the answer, but for some guidance about your approach). These are great questions for office hours or your team's chatroom on Campuswire. Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. 

Remember that you may work in pairs for this assignment! If you work in a pair, you must work with someone from your team, and you should submit one notebook to Gradescope for the both of you. 

You should start early so that you have time to utilize Office Hours if you're stuck. See the course calendar on Canvas for the schedule and Zoom links.

In [1]:
# please don't change this cell, but do make sure to run it
import babypandas as bpd
import matplotlib.pyplot as plt
import numpy as np
import otter
grader = otter.Notebook()

## 1. Avocadopocalypse

In early 2017, reduced harvests and labor strikes caused avocado production in Mexico, Peru, and California to  dramatically decrease. In this problem we will investigate how and where prices fluctuated in response to the "avocadopocalypse".

The source of the avocado price data is [here](https://urldefense.com/v3/__http://www.hassavocadoboard.com/retail/volume-and-price-data__;!!Mih3wA!UQwVlo9PvACY7t4CCustkKZq0RfPE-hGk1xDpoo20dpsixLTa8OgXRoiGUehMic$ ). We will use a subset of the data. The data has the following columns:

|Column|Description|
|------|-----------|
|Date|The date on which a price was recorded in YEAR-MONTH format|
|Type|The type of avocado. Either "conventional" or "organic".|
|Region|Where the price was recorded.|
|Price|The average avocado price for that time period/location.|
|Volume|The number of avocados sold (in thousands).|

**Question 1.1.** The data are in a CSV called `avocado.csv`. Read this file into a table named `avocado`. There is not good columns to use as the index, so don't set one!

In [2]:
avocado = ...
avocado

In [ ]:
grader.check("q1_1")

It might look like the `Date` column would make a good index, but it turns out that its entries are not unique! We can see this using the `.describe()` method, which gives us some useful information about a column:

In [5]:
avocado.get('Date').describe()

We see that although there are 4134 entries, only 39 of them are unique. This is because the same date will appear once for each city in the data set.

**Question 1.2.** Assign `cheapest_type` and `lowest_price` to the type and price of the cheapest avocado (of any region, and any date). 

Similarly, assign `most_expensive_type` and `highest_price` to the type and price of the   most expensive avocado (of any region, and any date).

In [6]:
cheapest_type = ...
most_expensive_type = ...
lowest_price = ...
highest_price = ...

In [ ]:
grader.check("q1_2")

**Question 1.3.** Avocados are sold in two types: organic and conventional. Make a table named `organic` containing only the data for organic avocados, and a table named `conventional` for conventional avocados.

In [13]:
organic = ...
conventional = ...

In [ ]:
grader.check("q1_3")

**Question 1.4.** Create a table named `la_total` which contains one column, `Volume`. The `Volume` column should be equal to the total volume of avocados (organic + conventional) sold in Los Angeles for each date. The index of your table should contain the Date for each entry.

*Hint*: If you do this correctly, you will not need to use `.set_index()` to make the Date the index.

*Hint*: Are the region names separated by a space?

In [19]:
la_total = ...
la_total

In [ ]:
grader.check("q1_4")

**Question 1.5.** Avocados generally grow better in a warmer, moderately humid climate. Are avocados more popular (consumed more) in the West Coast of the United States? 

Assign `la_bos_diff` to the difference, rounded to 3 decimal places, between the average volume of avocados sold in Los Angeles and Boston, respectively.

*Hint:* Remember that you can create intermediate variables. This is a good time to do so!

In [23]:
la_bos_diff = ...
la_bos_diff

In [ ]:
grader.check("q1_5")

**Question 1.6.** Create a table named `mean_price` containing one column named `MeanPrice` containing the mean price of **organic avocados** sold on each date. Your table should have one row for each date, and the row label should be the Date.

In [26]:
mean_price = ...
mean_price

In [ ]:
grader.check("q1_6")

**Question 1.7.** Make a line plot that shows the mean price of organic avocados in the entire United States as a function of Date. In other words, plot the mean price of organic avocados across any region for each Date.

Between the maroon lines below, please answer the following: 
* Does the data support the "avocadopocalypse"; that is, were prices higher in 2017? 
* Furthermore, describe how you could use the given data to investigate the *reason* that prices were higher.

<!-- BEGIN QUESTION -->

<!--
BEGIN QUESTION
name: q1_7
manual: true
-->

In [29]:
# Make your plot here
...

_Type your answer here, replacing this text._

<!-- END QUESTION -->



## 2. Defining Functions for Pokémon

In this problem, we'll define some functions for working with Pokémon.

Don't worry if you are unfamiliar with Pokémon! Here is a refresher: 

Pokémon (aka Pocket Monsters) is a popular video game series from Nintendo, founded by Satoshi Tajiri. This video game franchise, which began with Pokémon Red and Green in 1996, is one of the most iconic and highest-grossing video game series of all time. Pokémon is currently in its 7th generation, and has had games spanning the GameBoy, Nintendo DS, and Nintendo Switch. 

In a Pokémon game, you are an aspiring Trainer who has “Gotta Catch ‘Em All”. In these games, you must explore the various regions, encounter Pokémon, catch them, and train them for battle. Trainers can further their journey by playing in Gyms and beating trainers there! There is also a Pokedex, which is an encyclopedia	for Pokémon. In the games, when you discover new Pokémon, you get to add to the Pokedex!

Every Pokémon has its own attributes, such as an elemental type, hit points, and various attack and defense statistics. In this question, we will be simplifying the attributes of Pokémon since there are many more, like height, weight, and sex. Although there are multiple of each Pokémon (for example, there are tons of Pikachu that are all electric type, but vary slightly in their HP and other attributes), this dataset just contains a summary for that specific Pokémon. For example, the dataset shows that Bulbasaur has 49 attack points. However, that is just an average for all the Bulbasaurs since each one is distinct.

The source of the Pokedex data is [here](https://www.kaggle.com/kingabzpro/pokmon-legendary-data). We will be using a subset of the data. The data has the following columns:

|Column|Description|
|------|-----------|
|pokedex_number|**index**: The unique ID for the Pokémon in the Pokedex|
|name|The name of the Pokémon|
|type|The elemental property relating to the Pokémon|
|attack|Partly determines how much damage a Pokémon deals when using a regular attack move|
|defense|Partly determines how much damage a Pokémon receives when it is hit with a regular attack move|
|hp|Hit Points: how much damage a Pokémon can receive before fainting|
|sp_attack|Partly determines how much damage a Pokémon deals when using a special move|
|sp_defense|Partly determines how much damage a Pokémon receives when it is hit with a special move|
|generation|The generation from which the Pokémon was discovered (1 to 7)|
|is_legendary|1 if the Pokémon is legendary, 0 if the Pokémon is not legendary|

The data is in a CSV file called `pokedex.csv`. We will read this file into a table named `pokedex`.

In [30]:
# Please don't change this cell, but do make sure to run it
pokedex = bpd.read_csv('data/pokedex.csv').set_index('pokedex_number')
pokedex

Since this question asks you to define some functions, we recommend you review Lecture 9. Here is an example of a function that is named `find_slope` that takes in two coordinates, [x1, y1] and [x2, y2], and returns the slope of the line connecting the two points.

Remember that the equation for slope between 2 points is $$m = \frac{y_2 - y_1}{x_2 - x_1}$$

In [31]:
def find_slope(coordinate_1, coordinate_2):
    return (coordinate_2[1] - coordinate_1[1]) / (coordinate_2[0] - coordinate_1[0])

**Question 2.1.** Define a function named `overall` that takes in a Pokedex number for a single Pokémon and outputs its overall rating. Let's define the overall rating for a Pokémon to be the weighted average of its attributes according to the following weights:

|Attribute|Weight|
|------|-----------|
|attack|10%|
|defense|10%|
|hp|20%|
|sp_attack|15%|
|sp_defense|15%|
|is_legendary|30%|

In [32]:
def overall(pokedex_num):
    ...

In [ ]:
grader.check("q2_1")

**Question 2.2.** In Pokémon, trainers can face off in battle! One Pokémon from each trainer fights at once and each take turns attacking. In this question, we will define a function named `one_hit_ko` that determines whether the attacking Pokémon can knock out the defending Pokémon in one hit.

Since Pokémon combat is quite complicated (you can check [how the game really calculates damage in battle](https://bulbapedia.bulbagarden.net/wiki/Damage#Damage_calculation)), we will be defining a super simplified version of battle!

The function `one_hit_ko` will take in 3 parameters: 
* 2 Pokedex numbers, the attacker's and defender's, respectively
* A boolean value that is True if the attack is Special and False if the attack is regular

We will simply define the damage dealt to be the difference between the attacker's attack and defender's defense values. This function returns True if the damage dealt is at least as large as the defender's HP.

*Hint:* If the attacker is using a Special attack, the defender will use a Special defense. Similarly, if the attacker uses a regular attack, the defender will use a regular defense. 

*Hint:* Damage dealt can only be positive. In other words, if the defense is stronger than the attack, there will not be any damage dealt.

In [40]:
def one_hit_ko(attacker, defender, is_special):
    ...

In [ ]:
grader.check("q2_2")

## 3. Food Menu History

How long have restaurants been serving chicken gumbo? What's the most expensive boiled egg to be served in a restaurant? How many menus has "roast squab on toast" appeared?

The New York Public Library has transcribed thousands of historical menus (all the way from 1840 to the present!) onto their online database to solve those very important questions. In this problem, we will explore this database and look at what foods were popular hundreds of years ago.

For more information about the historical menu database, you can check it out [here](https://www.kaggle.com/nypl/whats-on-the-menu)

In [47]:
food_data = bpd.read_csv('data/dishes.csv')
food_data

**Question 3.1** Your 135-year-old grandma is coming over for dinner, and you have to pick what she'll eat! Since you are her favorite grandchild, you have decided to pick a food that she might have had as a child.

Let's see which dishes first appeared on a menu between 1895 and 1900 (inclusive). Save these dishes in a variable called “from_late_1900s”.

In [48]:
from_late_1900s = ...
from_late_1900s

In [ ]:
grader.check("q3_1")

**Question 3.2** Your grandma has very expensive taste, but you're a broke college student. To make grandma happy without spending all your money, you want to find the most expensive foods which first appeared in 1895-1900 and then determine the cheapest price for each.

1. Find the most expensive dishes from 1895-1900. Using our `first_appeared` data, determine which 19th-century dishes have a `highest_price` of over $300. Call this table `most_expensive` and sort by lowest price (ascending).

2. Create a bar chart that shows the `lowest_price` and name of each item.

In [53]:
most_expensive = ...
...

In [ ]:
grader.check("q3_2")

**Question 3.3.** Your Data Science tutor wants to know how many unique dishes first appeared in each year.

Create a table called `year_first_appeared`. This table should have `year` as the index, and one column called `number_of_dishes` which counts the number of dishes which first appeared in that year.

*Hint:* Your tutor wants you to use `groupby`!

*Hint 2:* You can assume that each entry in food_data is a unique dish.

In [57]:
year_first_appeared = ...
year_first_appeared

In [ ]:
grader.check("q3_3")

**Question 3.4** 

Create a line graph visualizing `year_first_appeared`. For simplicity, only use the data from years 1800 - 2000 inclusive.

If you created your line graph correctly, you should see a very large spike in `number_of_dishes` around a certain decade. Set `spike` equal to the number (1-4) of what decade that was:

1. 1900
2. 1920
3. 1940
4. 1960

In [62]:
spike = ...

In [ ]:
grader.check("q3_4")

## 4. Summer Olympics

This summer, Tokyo will be holding the highly-anticipated Summer Olympics from July 24, 2021 to August 9, 2021. The Olympic Games were postponed for the first time in the history of the Olympics due to the Covid-19 pandemic. At the Olympics, there are 206 nations expected to participate, and there will be 339 events in 33 distinct sports. 

In light of the upcoming Games in Tokyo, we will analyze historical data on Olympic athletes who won medals in the Summer Olympic Games from 1896-2012. You can find the data [here](https://www.kaggle.com/the-guardian/olympic-games#dictionary.csv). We will be using a subset of data for ease of use.

The data is in a CSV file called `summer.csv`. Read this file into a table named `summer_data`. There is no good index, we will leave it unset.

In [65]:
summer_data = bpd.read_csv('data/summer.csv')
summer_data

The `Country` column contains International Olympic Committee (IOC) [country codes](https://olympics.fandom.com/wiki/List_of_IOC_country_codes). We want to convert these country codes into actual country names that everyone can understand.

We'll use a Python [dictionary](https://www.tutorialspoint.com/python/python_dictionary.htm) to help us with this conversion. A dictionary is a simple way to map a unique key to a value. For example, the below dictionary maps course codes to course names.

In [66]:
dsc_courses = {
    'DSC 10': 'Principles of Data Science',
    'DSC 20': 'Programming and Basic Data Structures for Data Science',
    'DSC 30': 'Data Structures and Algorithms for Data Science',
    'DSC 40A': 'Theoretical Foundations of Data Science I',
    'DSC 40B': 'Theoretical Foundations of Data Science II',
    'DSC 80': 'The Practice and Application of Data Science'
}

We can access the value corresponding to each key using bracket notation.

In [67]:
dsc10_name = dsc_courses['DSC 10']
dsc10_name

Here, `DSC 10` is the key and `Principles of Data Science` is the value.

Let's use a dictionary to help us with our country code to country name conversion. Below is a dictionary containing country codes as keys and country names as values for each of the countries in our dataset of Winter Olympic medal winners.

In [68]:
country_codes = {
 'USA': 'United States',
 'AFG': 'Afghanistan',
 'AHO': 'Netherlands Antilles',
 'ALG': 'Algeria',
 'ANZ': 'Australasia',
 'ARG': 'Argentina',
 'ARM': 'Armenia',
 'AZE': 'Azerbaijan',
 'CAN': 'Canada',
 'IRI': 'Iran',
 'GHA': 'Ghana',
 'NOR': 'Norway',
 'ERI': 'Eritrea',
 'IRL': 'Ireland',
 'URS': 'Soviet Union',
 'FIN': 'Finland',
 'IRQ': 'Iraq',
 'NAM': 'Namibia',
 'VIE': 'Vietnam',
 'SYR': 'Syria',
 'TAN': 'Tanzania',
 'SWE': 'Sweden',
 'IND': 'India',
 'ETH': 'Ethiopia',
 'IOP': 'Independent Olympic Participants',
 'RSA': 'South Africa',
 'RU1': 'Russian Empire',
 'PER': 'Peru',
 'PHI': 'Philippines',
 'SUR': 'Suriname',
 'PAR': 'Paraguay',
 'PAK': 'Pakistan',
 'GER': 'Germany',
 'SUI': 'Switzerland',
 'BAH': 'Bahamas',
 'PAN': 'Panama',
 'MAS': 'Malaysia',
 'AUT': 'Austria',
 'TRI': 'Trinidad and Tobago',
 'TTO': 'Trinidad and Tobago',
 'INA': 'Indonesia',
 'HKG': 'Hong Kong',
 'SUD': 'Sudan',
 'HAI': 'Haiti',
 'MGL': 'Mongolia',
 'BAR': 'Barbados',
 'MDA': 'Moldova',
 'MKD': 'Macedonia',
 'GRE': 'Greece',
 'MNE': 'Montenegro',
 'GRN': 'Grenada',
 'EGY': 'Egypt',
 'BDI': 'Burundi',
 'DOM': 'Dominican Republic',
 'GUA': 'Guatemala',
 'GUY': 'Guyana',
 'URU': 'Uruguay',
 'PUR': 'Puerto Rico',
 'BER': 'Bermuda',
 'ECU': 'Ecuador',
 'BOH': 'Bohemia',
 'BOT': 'Botswana',
 'KGZ': 'Kyrgyzstan',
 'ZIM': 'Zimbabwe',
 'ZZX': 'Mixed Team',
 'BRA': 'Brazil',
 'BRN': 'Bahrain',
 'GEO': 'Georgia',
 'BWI': 'West Indies Federation',
 'KEN': 'Kenya',
 'KUW': 'Kuwait',
 'KSA': 'Saudi Arabia',
 'RUS': 'Russia',
 'ITA': 'Italy',
 'GDR': 'East Germany',
 'TJK': 'Tajikistan',
 'THA': 'Thailand',
 'TCH': 'Czechoslovakia',
 'FRA': 'France',
 'TGA': 'Tonga',
 'TOG': 'Togo',
 'NIG': 'Niger',
 'NGR': 'Nigeria',
 'TPE': 'Taipei',
 'NED': 'Netherlands',
 'FRG': 'West Germany',
 'KOR': 'Korea, South',
 'CHI': 'Chile',
 'CHN': 'China',
 'GBR': 'United Kingdom',
 'CZE': 'Czech Republic',
 'JPN': 'Japan',
 'EUN': 'Unified Team',
 'CYP': 'Cyprus',
 'POL': 'Poland',
 'EUA': 'United Team of Germany',
 'CMR': 'Cameroon',
 'TUR': 'Turkey',
 'TUN': 'Tunisia',
 'POR': 'Portugal',
 'VEN': 'Venezuela',
 'SLO': 'Slovenia',
 'UGA': 'Uganda',
 'UAE': 'United Arab Emirates',
 'AUS': 'Australia',
 'ISV': 'US Virgin Islands',
 'JAM': 'Jamaica',
 'MEX': 'Mexico',
 'CUB': 'Cuba',
 'SGP': 'Singapore',
 'SIN': 'Singapore',
 'SEN': 'Senegal',
 'BLR': 'Belarus',
 'QAT': 'Qatar',
 'LTU': 'Lithuania',
 'DJI': 'Djibouti',
 'LAT': 'Latvia',
 'BEL': 'Belgium',
 'LIB': 'Lebanon',
 'SCG': 'Serbia and Montenegro',
 'MOZ': 'Mozambique',
 'CRC': 'Costa Rica',
 'COL': 'Colombia',
 'ZAM': 'Zambia',
 'HUN': 'Hungary',
 'UKR': 'Ukraine',
 'MAR': 'Morocco',
 'ISL': 'Iceland',
 'CRO': 'Croatia',
 'GAB': 'Gabon',
 'MRI': 'Mauritius',
 'CIV': 'Ivory Coast',
 'LIE': 'Liechtenstein',
 'SRB': 'Serbia',
 'SRI': 'Sri Lanka',
 'YUG': 'Yugoslavia',
 'EST': 'Estonia',
 'KAZ': 'Kazakhstan',
 'BUL': 'Bulgaria',
 'ISR': 'Israel',
 'DEN': 'Denmark',
 'SVK': 'Slovakia',
 'ROU': 'Romania',
 'ESP': 'Spain',
 'PRK': 'Korea, North',
 'LUX': 'Luxembourg',
 'NZL': 'New Zealand',
 'UZB': 'Uzbekistan'}

**Question 4.1.** Using `country_codes`, define a function named `code_to_country` that takes as input a country code and returns the corresponding country name. (Should be only one line)

In [69]:
def code_to_country(code):
    ...

In [ ]:
grader.check("q4_1")

**Question 4.2.** Using your `code_to_country` function, use `.get(col).apply()` to convert all of the country codes into country names in the `Country` column. Do this without creating an additional column. Store your result in `summer`.

*Hint*: Is there a way to use the `.assign` method to *replace* values in this column without creating an additional column?

*Note*: After this question, you will not need to use `summer_data`. You will use `summer`.

In [74]:
summer = ...
summer

In [ ]:
grader.check("q4_2")

**Question 4.3.** 
Define a function named `avg_name_length` that returns the arithmetic mean of the first and last names of an individual. It should take as an input the name of an individual. Assume that the name will be a string in the format: 'lastname, firstname'. Remember that the arithmetic mean returns a float.

*Hint:* Use the string function [`.split()`](https://docs.python.org/3/library/stdtypes.html#str.split). This is useful in splitting the name into a last name and a first name.

*Hint:* Notice that there is a space after the comma.

In [83]:
def avg_name_length(name):
    ...

In [ ]:
grader.check("q4_3")

**Question 4.4.** Create a function named `mean_values` that takes as an input the name of a country and returns the mean average name length of the Olympians from that country. 

*Hint:* Use the previously defined function!

In [90]:
def mean_values(country):
    ...

In [ ]:
grader.check("q4_4")

**Question 4.5.** 
Create a table called `avg_names` with columns `Year`, `Sport`, `Athlete` and `Country` and new column `Avg_Name_Length` that has the length of the average name length of that specific athlete, with the shortest average name length at the top and longest at the bottom.

*Hint*: Remember that you can create intermediate variables, and start from `summer`. The countries should have the full country names, not the IOC codes.

In [97]:
avg_names = ...
avg_names

In [ ]:
grader.check("q4_5")

**Question 4.6.** What is the length of the longest average name? Assign this number to `longest_avg_name_length`. What is the length of the shortest average name? Assign this number to `shortest_avg_name_length`. What is the length difference between the longest and shortest average names? Assign this number to `range_avg_name_length`.

In [107]:
longest_avg_name_length = ...
shortest_avg_name_length = ...
range_avg_name_length = ...
range_avg_name_length

In [ ]:
grader.check("q4_6")

**Question 4.7.** Make a function called `point_total` that takes in a full country name, not IOC code, and awards points based on Olympic medals. The country gets 1 point for every bronze, 3 points for every silver, and 5 for every gold medal.

In [114]:
def point_total(country):
    gold = ...
    silver = ...
    bronze = ...
    return gold + silver + bronze

In [ ]:
grader.check("q4_7")

**Question 4.8.** Among the five countries listed below, which has the **second** highest point total?:

1. United States
2. Russia
3. Italy
4. China
5. France

Save the name (not IOC code) of the country as `country` and the country's number of points as `points`. You can set the value of `country` and `points` by hand.

*Hint*: Use a previously defined function to help!

In [120]:
country = ...
points = ...

In [ ]:
grader.check("q4_8")

**Question 4.9.** Create a horizontal bar chart of the mean average name length by country. Use your chart to answer the question: which country has the shortest average name in general? Write your answer by hand by assigning the country to `country_shortest_avg_name`. For the country, use the full country name.

*Hint*: You may use the table you previously defined with the average name lengths!

In [126]:
country_shortest_avg_name = ...

In [ ]:
grader.check("q4_9")

## 5. Histograms

Suppose we have a table called `data` with two numerical columns, "x" and "y". Consider the following scatter plot, which was generated by calling `data.plot(kind='scatter', x='x', y='y')`:

![](data/scatter.png)

Now consider these two histograms:

**Histogram A**:

![](data/hist_one.png)

**Histogram B**:

![](data/hist_two.png)

**Question 5.1.** Which of these two lines of code generated Histogram B?
 1. `data.plot(kind='hist', y='x')`
 2. `data.plot(kind='hist', y='y')`  
 
 Which line generated Histogram B? Assign either `1` or `2` to `which_histogram`.

In [130]:
which_histogram = ...

In [ ]:
grader.check("q5_1")

**Question 5.2.** Suppose we run this line of code:

    new_data = bpd.DataFrame().assign(
        x = data.get('x') * 3,
        y = data.get('y')
    )
    
 We then run `new_data.plot(kind = 'hist', y='x')`. What does the new histogram look like (as opposed to `data.plot(kind = 'hist', y='x')` on the same scale)?

<!-- BEGIN QUESTION -->

<!--
BEGIN QUESTION
name: q5_2
manual: true
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



**Question 5.3.** According to the histograms above, approximately what **percent** of points in the scatterplot have an `x` value between -5 and -3 (inclusive)? (Note: the frequency on the histogram is NOT in percentage). Return the number (1 - 4) of the correct percentage listed below in the variable `y_between`.

1. 10% == 0.1 frequency
2. 15% == 0.15 frequency
3. 25% == 0.25 frequency
4. 40% == 0.40 frequency

In [133]:
y_between = ...

In [ ]:
grader.check("q5_3")

# Finish Line

To submit your assignment:

1. Select `Kernel -> Restart & Run All` to ensure that you have executed all cells, including the test cells.
2. Read through the notebook to make sure everything is fine and all tests passed.
3. Run the cell below to run all tests, and make sure that they all pass.
4. Download your notebook using `File -> Download as -> Notebook (.ipynb)`, then upload your notebook to Gradescope.

In [136]:
grader.check_all()